<html>
    <head>    
    </head>
    <body>
        <header>
            {% include "twomenu.html"%}
            {% include "menu.html"%}

        </header>
        <main>
            <h3>

                


                Контакти:

                🏪 Адреса: м. Київ, вул. Водопровідна, 15

                📞 Телефон: +38 (044) 123-45-67

                🌐 Сайт: santechmaster.ua
                (вигаданий)

                Графік роботи:
                Пн–Сб: 09:00–19:00
                Нд: вихідний</h3>
            

        </main>
        <footer></footer>
    </body>
</html>