<html>
    <head> 
        <style>
p{
    color:white;
    font-family: "Arial Black";
}
            </style>
    </head>
    <body>
        <header>
            {% include "twomenu.html"%}
        </header>
        <main>
            <h1>Наш Асортимент</h1>
            <img src="static/Toilet.png">
            <p> Туалет базовий(Italy model №293)</p>
            <p>Ціна:4500Грн</p>
            <img src="static/Trubas.png">
            <p> Труба нержавійка(ціна за 10метрів)</p>
            <p>German production(Prototype) Ціна:123Грн</p>
        </main>
        <footer></footer>
    </body>
</html>